<?xml version="1.0" encoding="UTF-8"?>
<settings
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd"
        xmlns="http://maven.apache.org/SETTINGS/1.2.0">
    <servers>
        <server>
            <username>travelblibli@gmail.com</username>
            <password>AKCp8nyhnL1JjFBgUnBYPjFjN537rPnVj8SxSkfZP28VTb3CoRprbWhbbZyghCwkKtBmbXfMe
            </password>
            <id>central</id>
        </server>
        <server>
            <username>travelblibli@gmail.com</username>
            <password>AKCp8nyhnL1JjFBgUnBYPjFjN537rPnVj8SxSkfZP28VTb3CoRprbWhbbZyghCwkKtBmbXfMe
            </password>
            <id>snapshots</id>
        </server>
    </servers>
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>myproject-libs-release</name>
                    <url>https://qaexp.jfrog.io/artifactory/myproject-libs-release</url>
                </repository>
                <repository>
                    <snapshots/>
                    <id>snapshots</id>
                    <name>myproject-libs-snapshot</name>
                    <url>https://qaexp.jfrog.io/artifactory/myproject-libs-snapshot</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>myproject-libs-release</name>
                    <url>https://qaexp.jfrog.io/artifactory/myproject-libs-release</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots/>
                    <id>snapshots</id>
                    <name>myproject-libs-snapshot</name>
                    <url>https://qaexp.jfrog.io/artifactory/myproject-libs-snapshot</url>
                </pluginRepository>
            </pluginRepositories>
            <id>artifactory</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
</settings>
