<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sedin Test Suite">
    <test name="UITest">
        <classes>
            <class name="org.example.sedin.runner.TestRunner"/>
        </classes>
    </test>
<!--        <test name="APITests">-->
<!--            <packages>-->
<!--                <package name="org.example.sedin.apiTests"/>-->
<!--            </packages>-->
<!--        </test>-->

    <test name="APITests">
        <classes>
            <class name="org.example.sedin.apiTests.AuthTokenPassingExampleTest"/>
        </classes>
    </test>


</suite>
